# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/
ex/

# (겸용) Eclipse
bin/

# =========================
# Java build artifacts
# =========================
*.class

# =========================
# OS generated
# =========================
.DS_Store
Thumbs.db

# =========================
# Archives & logs (optional)
# =========================
*.zip
*.log
/.metadata/
